.container {
  background-color: #f5f5f5;
  .contentRow {
    margin: 2rem 3rem;
    border-radius: 10px;
    .headingRow {
      padding: 2rem 3rem 0rem 3rem;
      color: #103e5b;
      font-family: "Poppins-Bold";
      font-size: 1.4rem;
    }
    .editRow {
      padding: 0rem 3rem 2rem 3rem;
      .editPhotoCol {
        padding: 2rem 2rem;
        box-shadow: 0px 5px 30px #0000000d;
        border-radius: 10px;
        background-color: #fff;
        img {
          height: 10rem;
          width: 10rem;
          margin: auto;
          border-radius: 50%;
        }
      }
      .editDetailCol{
        padding: 2rem 2rem;
        box-shadow: 0px 5px 30px #0000000d;
        border-radius: 10px;
        background-color: #fff;
      }
    }
  }
}
