.container {
  background: url("../../resources/images/cmn-bg.png") center center/cover
    no-repeat;
  height: 100vh;

  .contentRow {
    background-color: #f5f5f5;
    width: 90%;
    margin: 4rem auto;
    // height: 70%;
    border-radius: 10px;
    .expenseCol{
        height: 70%;
        margin:auto 0rem;
        padding:1rem;
    }
    .donutCol{
        // height: 90%;
        margin:auto 0rem;
        padding:1rem;
    }
    .incomeCol{
        height: 70%;
        padding:1rem;
        margin:auto 0rem,
    }
  }
}
