@font-face {
    font-family:"Poppins-Medium" ;
    src: url("../../resources/font/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family:"Poppins-Regular" ;
    src: url("../../resources/font/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family:"Poppins-SemiBold" ;
    src: url("../../resources/font/Poppins/Poppins-SemiBold.ttf");
}