@font-face {
    font-family:"Poppins-Medium" ;
    src: url("../../resources/font/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family:"Poppins-Regular" ;
    src: url("../../resources/font/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family:"Poppins-SemiBold" ;
    src: url("../../resources/font/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family:"Poppins-Bold" ;
    src: url("../../resources/font/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family:"Oxygen-Bold" ;
    src: url("../../resources/font/Oxygen/Oxygen-Bold.ttf");
}
@font-face {
    font-family:"Oxygen-Light" ;
    src: url("../../resources/font/Oxygen/Oxygen-Light.ttf");
}
@font-face {
    font-family:"Oxygen-Regular" ;
    src: url("../../resources/font/Oxygen/Oxygen-Regular.ttf");
}